.month-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-auto-rows: minmax(130px, auto);
    gap: 1px; 
    width: 100%;
    padding-left: 0; 
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Style for the day headers (Mon, Tue, Wed, etc.) */
.month-day-headers {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    background-color: white;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Style for each day in the calendar */
.month-day-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    min-width: 120px;
    aspect-ratio: 1 / 1; 
    position: relative;
}

/* Add a grey background for boxes outside the current month */
.grey-box {
    background-color: #f0f0f0; 
}

.month-day-header {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: right;
    font-size: 14px;
    color: #333;
    position: absolute; 
    top: 5px; 
    left: 10px; 
    text-align: left;
}

.month-day-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    
}

.event-month {
    display: flex;
    border-radius: 4px;
    align-items: center;
    width: 100%;
    height: auto;
    font-size:14px;
    padding: 5px;
    overflow: ellipse;
    
}